+++
title = "PR Focus"
linkTitle = "PR Focus"

+++

{{< blocks/cover title="Keep track of important PRs." image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<p class="lead mt-5">Track PRs across repos - on your Mac!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
PR Focus provides a single destination for information about important pull requests.

Find out about new PRs in repositories you watch.

Ignore PRs you don't care about.

Watch PRs you're reviewing, or your own PRs.
{{% /blocks/lead %}}

{{< blocks/old-section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="New pull requests!" url="https://youtu.be/jtyC6S91k48" %}}
See new pull requests in repositories you're watching.

Decide whether to ignore a PR or watch it to track its progress.

Check out the overview video on YouTube.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Watch GitHub Repositories" url="https://prfocus.app/docs/repositories/view-repository/" %}}
Watch important repositories on **GitHub**. Gather important repositories you want to track in one place.

GitLab and Bitbucket are not currently supported.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-duotone fa-code-commit" title="View PR Details" url="https://prfocus.app/docs/pull-requests/view-pr-details/" %}}
View all the important information about a PR. See all the latest commits, comments, reviews, or status checks.
{{% /blocks/feature %}}


{{< /blocks/old-section >}}

{{< blocks/old-section >}}
{{% blocks/feature icon="fa-solid fa-eye" title="**Watch** and **Ignore** Incoming PRs" %}}

<iframe width="500" height="315" src="https://www.youtube.com/embed/2XtVEt5QWzk?si=z9KWfrRTyJSCQdKQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

{{% /blocks/feature %}}


{{% blocks/feature icon="fa-solid fa-code-pull-request" title="See What's New in Your PRs!" %}}
<iframe width="500" height="315" src="https://www.youtube.com/embed/2vGIhrUi06g?si=lmyoQE3G2p21IFtL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-brands fa-github" title="Watch Repos and PRs You Care About" %}}
<iframe width="500" height="315" src="https://www.youtube.com/embed/FqqggAxbKlw?si=R1tdPieY-tPFaYfz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
{{% /blocks/feature %}}
{{< /blocks/old-section >}}

{{< blocks/old-section >}}
<div class="col">
<h1 class="text-center">Stay on top of incoming work!</h1>
<br>
<h3 class="text-center">Impress your colleagues! Get a promotion!</h3>
<br>
<h2 class="text-center">Or just make life easier.</h2>
</div>

{{< /blocks/old-section >}}

{{< blocks/old-section >}}
{{% blocks/feature icon="fab fa-app-store-ios" title="Coming soon to the **AppStore**" %}}
PR Focus is currently in Test Flight. Coming soon to the App Store!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions and issues welcome!" url="https://github.com/dacharyc/prfocus-website/" %}}
Contribute a [Pull Request](https://github.com/dacharyc/prfocus-website/pulls) on **GitHub** to improve PR Focus documentation. 
File issues for docs or for the PR Focus app.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-brands fa-mastodon" title="Follow us on Mastodon!" url="https://corporaterunaways.social/@prfocus" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/old-section >}}