+++
title = "PR Focus"
linkTitle = "PR Focus"

+++

{{< blocks/cover title="Keep track of important PRs." image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<p class="lead mt-5">Track PRs across repos - on your Mac!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
PR Focus provides a single destination for information about important pull requests.

Find out about new PRs in repositories you watch.

Ignore PRs you don't care about.

Watch PRs you're reviewing, or your own PRs.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="New pull requests!" %}}
See new pull requests in repositories you're watching.

Decide whether to ignore a PR or watch it to track its progress.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Watch GitHub Repositories" url="https://github.com/google/docsy-example" %}}
Watch important repositories on **GitHub**. Gather important repositories you want to track in one place.

GitLab and Bitbucket are not currently supported.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-duotone fa-code-commit" title="View PR Details" url="https://twitter.com/docsydocs" %}}
View all the important information about a PR. See all the latest commits, comments, reviews, or status checks.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">This is the second Section</h1>
</div>

{{< /blocks/section >}}


{{< blocks/section >}}
{{% blocks/feature icon="fab fa-app-store-ios" title="Coming soon to the **AppStore**" %}}
PR Focus is currently in Test Flight. Coming soon to the App Store!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions and issues welcome!" url="https://github.com/google/docsy-example" %}}
Contribute a [Pull Request](https://github.com/google/docsy-example/pulls) on **GitHub** to improve PR Focus documentation. 
File issues for docs or for the PR Focus app.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-brands fa-mastodon" title="Follow us on Mastodon!" url="https://twitter.com/docsydocs" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}